/* Minimal CSS reset  */
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Custom properties  */

@font-face {
  font-family: helvetica;
  src: url(./fonts/Helvetica.ttf);
}

@font-face {
  font-family: acumin;
  src: url(./fonts/Acumin-RPro.otf)
}

:root {
  --clr-dark: #202124;
  --clr-light: #fff;
  --clr-accent:  #fa6980;
  --clr-grey: #a6adb4;
  --ff-primary: helvetica, Arial, sans-serif;
  --ff-secondary: acumin, sans-serif;
  --ff-boldish: 500;
}

 /* General rules  */

 html {
   font-family: var(--ff-primary);
   line-height: 1.6rem;
 }

 .btn {
   width: 151px;
   height: 40px;
   border-radius: 6px;
   background-color: var(--clr-accent);
   color: var(--clr-light);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 0.75rem;
   border: none;
 }
 
 .btn:hover {
   opacity: .8;
 }

 h1, h2 {
   text-transform: uppercase;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

  /* sections headers  */
  .section_header {
    display: flex;
    justify-content: space-between;
  }
  .section_header  h2 {
    font-weight: var(--ff-boldish);
    color: #202124;
  }
  
  .arrows {
    display: flex;
    width: 50px;
    justify-content: space-between;
  }
  
  .arrows :last-child {
    color:#202124
  }
  
  .arrows :first-child {
    color: #878990;
  }

/* Mobile first  */

/* Header  */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1.5rem;
  padding-right: 3rem !important;
}

header img {
  width: 30px;
  height: auto;
}

header span {
  text-transform: uppercase;
  color: var(--clr-grey)
}

header i {
  color: var(--clr-dark)
}

.mobile_hidden {
  display: none;
}

/* local media queries  */

@media (min-width: 700px) {
  .mobile_hidden {
    display: initial;
  }

  .desktop_hidden {
    display: none;
  }

  .nav_list {
    list-style: none;
    display: flex;
  }

  .nav_list li {
    padding: 0 0.4rem;
    color: var(--clr-grey);
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  .nav_list li:first-child {
    color: var(--clr-dark);
  }

  header span {
    order: -1;
    padding-right: 50%;
    color: var(--clr-accent);
    font-weight: bold;
  }

  h2, h3 {
    text-transform: uppercase;
  }
}

/* Main news section  */

.main > section {
  padding: 0 2rem;
}

.main_news {
  background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
  url("./images/landscape.png");
  background-size: cover;
  background-position: center center;
  color: var(--clr-light);
  position: relative;
  height: 388px;
  padding: 0 2rem;
}

/* Make all direct children of main news class absolute positioned  and parent is relative */

.main_news > * {
  position: absolute;
}

.main_news h2 {
  top: 35px;
  border-bottom: 2px solid var(--clr-light);
  padding-bottom: 20px;
  width: 84%;
  line-height: 42px;
  font-weight: var(--ff-boldish);
  text-transform: uppercase;
}

.main_news h3 {
  top: 139px;
  font-weight: var(--ff-boldish);
  font-size: 1.5rem;
  padding-right: 30px;
  line-height: 34px;
}

.main_news p {
  top: 217px;
  font-size: 1rem;
  padding-right: 45px;
}

.main_news .btn {
  top: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width:700px) {

  .main > section {
    padding: 0 5rem;
  }

  .main_news h2 {
    width: 80%;
  }

  .main_news {
    padding: 0 5rem;
  }

  .main_news h3 {
    margin-top: 1.5rem;
  }

  .main_news p {
    top: 207px;
    font-size: 1.1rem;
    width: 85%;
  }
}

@media (max-width: 340px) {
  .main_news .btn {
    top: 344px
  }

  .main_news {
    height: 410px;
  }
}

img {
  width: 400px;
  height: auto;
  border-radius: 7px;
}

/* Topics section  */

.topics_section {
  margin-top: 40px;
}


.topics_section h3 {
  color: var(--clr-accent);
  font-weight: var(--ff-boldish);
}

.article_header h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.article_header h4 {
  color: #202124;
  font-weight: 400;
  font-size: 1.1rem;
}

.article_header p,i {
  color: var(--clr-grey);
  font-family: var(--ff-secondary);
}

.article_header i {
  margin-bottom: 20px;
}

.line {
  border: 1px solid #ebeded;
  margin: 37px 0;
}

/* media queries  */

@media (min-width:700px) {
  #flexOnDesktop {
    display: flex;
    flex: 1 1 100%;
    padding-bottom: 4rem;
  }

  section  h2, section h3 {
    font-weight: bold !important;
    margin-bottom: 2px !important;
  }

  .sub_topic + h4 {
    font-weight: bold;
  }

  .article_header > i {
    font-style: italic;
  } 
}

/* Trending section  */

.trending_section {
  background-color: whitesmoke;
  padding-bottom: 4rem;
  border-bottom: 40px solid whitesmoke;
}

.trending_section .section_header{
  padding: 3rem 0;
}

.trending_section .article_descriptor {
  background-color: var(--clr-light);
  padding: 1.4rem;
  border-bottom: 40px solid whitesmoke;
}

.article_descriptor  h3{
  font-weight: var(--ff-boldish);
  margin: 10px 0;
  text-transform:initial;
}

@media (min-width: 700px) {
  .trendingFlex {
    display: flex;
  }
  .trendingFlex > div {
    width: 300px;
    flex: 1 1 100%;
  }
  .article_header img {
    height: 220px;
  }
  .article_header:not(:last-child){
    padding-right: 20px;
  }
  .article_descriptor p{
    padding-left: 1rem;
  }
  .article_descriptor h3 {
    padding-left: 1rem;
    margin-top: 1.5rem;
  }
  .article_descriptor i {
    padding-left: 1rem;
    font-style: italic;
  }
} 

@media (min-width: 452px) and (max-width: 700px) {
  .article_descriptor {
    width: 400px;
  }
}

/* Happening Now  */

.happening_section {
  background-color: whitesmoke;
}

.happening_section h2 {
  margin-bottom: 2rem;
}

.happening_section .background_city, .background_forest {
  color: var(--clr-light);
  padding: 1.5rem;
}

.happening_section div:not(:first-child)  h2 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.happening_section h3 {
  font-weight: var(--ff-boldish);
  font-size: 1.5rem;
  line-height: 34px;
}

.backImg {
  height: 300px;
  width: auto;
  background-size: cover;
  background-position: center center;
  border-radius: 7px;
  margin-bottom: 2.5rem;
}

.background_city {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./images/happening/bridge.png");
}

.background_forest {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./images/happening/forest.png");
}

.small_title {
  margin-top: 2rem;
  padding-bottom: 1rem;
  background-color: whitesmoke;
}

.small_title h3 { 
  font-family: var(--ff-secondary);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: initial;
}

.happening_section a {
  padding-left: .4rem;
  color: var(--clr-grey);
}

@media (min-width: 430px) {
  .background_city, .background_forest {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .background_city {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./images/ipad/bridge.png");
  margin-top: 2.7rem;
  }
  .background_city {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./images/ipad/bridge.png");
  margin-top: 2.7rem;
  }
  .happening_section .line {
    display: none;
  }
  .trendingFlex .small_title:first-child {
    padding-right: 20px;
  }
  .small_title {
    margin-bottom: 4rem;
  }
  .small_title img {
    height: 200px;
    margin-bottom: 1rem;
  }
}
/* World news page  */

.background_mountain {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./images/mountains.png");
  height: 388px;
  border-radius: 0;
}

 /* hack select input placholder  */

select:required:invalid {
  color: var(--clr-grey);
}
option[value=""][disabled] {
  display: none;
}
option {
  color: rgb(22, 21, 21);
}

/* ================= */

.newsMain > *:not(.background_mountain) {
  padding: 0 2rem;
}

.newsMain .article{
  background-color: whitesmoke;
  padding-top: 1rem;
  padding-bottom: .1rem;
  margin-top: 2rem;
}

.conclusion {
  color: var(--clr-dark);
  font-weight: 600;
  line-height: 2rem;
  font-weight: 600;
}

.avatar {
  width: auto;
  border-radius: 50%;
}

.filter {
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.footerUl {
  width: 60%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  position: relative;
  color: var(--clr-grey);
  left: 10%;
}

.footerUl li:first-child {
  color: #202124;
  border-bottom: 2px solid var(--clr-accent);
}

.footerUl li:last-child {
  color:rgb(53, 50, 50);
  font-size: 2rem;
  align-self: center;
  position: absolute;
  right: -40px;
  top: -30%;
}

#footer {
  background-color: whitesmoke;
  padding-bottom: 2rem;
}

.filterNav {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filterNav i {
  font-size: 1.2rem;
}

.background_mountain {
  padding: 4rem 2rem;
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.empty {
  height: 20px;
  width: 40px;
  border-top: 3px solid var(--clr-accent);
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 2rem;
  padding-right: 20px;
  font-size: 1rem;
  display: block;
}

label {
  font-family: var(--ff-secondary);
  display: block;
  margin-bottom: 7px;
  line-height: 20px;
  font-size: 15px;
}

.article img, .smallH2{
  margin: 1rem 0;
  font-family: var(--ff-secondary);
  font-weight: 600;
  line-height: 2rem;
  text-transform: initial;
}

.article p:not(.conclusion) {
  line-height: 26px;
  color: var(--clr-grey);
  margin-bottom: 18px;
}

.hideBelowDesktop {
  display: none;
}

.fa-paper-plane {
  font-size: 1.3rem;
  position: relative;
  right: 3.3rem;
  z-index: 2;
}

/* ======= */

@media (min-width: 700px) {

  .dskt_footer{
    display: block;
    background-color: var(--clr-grey);
  }
  
  .topFooter {
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
    padding-right: 7rem;
    padding-bottom: 1rem;
  }
  
  .bigNav {
    display: flex;
  }

  .topFooter span{
    color: var(--clr-light);
    text-transform: uppercase;
    font-weight: 600;
  }

  .bigNav ul {
    list-style: none;
    text-transform: uppercase;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #cbd0d3;
    font-weight: 700;
    line-height: 1.5rem;
  }

  .bottomFooter {
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem;
    padding-right: 5rem;
    padding-top: 1rem;
  }

  .bottomFooter  i{
    color: var(--clr-light);
    padding-right: 1rem;
  }

  .bottomFooter div:last-child {
    align-self: flex-end;
  }

  .bottomFooter input {
    width: 240px;
    height: 2rem;
    border-radius: 7px;
    border: 1px solid rgb(209, 208, 208);
    background-color: var(--clr-grey);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .bottomFooter label {
    color: var(--clr-light);
  }

  .filterNav {
    display: none;
  }

  .story {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 4rem 1rem;
  }

  .story img {
    width: 40px;
    height: 40px;
    border-radius: 0;
    padding: 10px;
    border: 2px solid rgb(207, 201, 201);
  }

  .story p {
    display: inline;
  }

  .newsMain > *:not(footer) {
    padding: 1rem 5rem !important; 
  }

  .story  i, .story span {
    color: var(--clr-dark);
    font-weight: bold;
    padding: 0 .5rem;
    text-transform: uppercase;
  }

  .story a {
    color: var(--clr-grey);
    padding-left: 0.5rem;
    text-transform: uppercase;
  }

  .story span a{
    color: var(--clr-dark);
    padding-right: 0.5rem;
  }

  .background_mountain {
    margin: 0 auto;
  }

  #form {
    padding: 1rem 9rem !important;
    margin-top: 4rem;
  }

  #form input {
    border: #5d5f63 .2px solid
  }

  .paragraphClass {
    display: flex;
  }

  .paragraphClass > div:first-child {
    flex: 1 1 100%;
    padding-right: 1rem;
  }

  .paragraphClass > div:last-child {
    flex: 1 1 100%;
    max-height: 200px;
  }

  .elephantImg {
    width: 800px;
  }

  .footerUl {
    margin-bottom: 5rem;
    font-size: 0.8rem;
    justify-content: center;
    position: relative;
  }

  .footerUl li {
    margin-left: 1rem;
  }
  .footerUl li:last-child {
    right: 48px;
    color: #5d5f63;
  }

  .article_descriptor {
    max-width: 400px;
  }

  .news_body {
    background-color: whitesmoke;
  }

  .newsFlex form {
    background-color: white;
    margin-top: 0 !important;
  }

  .newsFlex form label {
    margin-top: 3rem;
  }

  .newsFlex .btn {
    margin-bottom: 4rem;
  }
}

@media (max-width: 1075px) {
  .flexWithBigScreen .topics_section{
    padding: 0 5rem;
  }
}

@media (min-width: 1400px) {
  .dskt_footer div{
    padding-left: 100px !important;
  }
}

@media (min-width: 400px) {
  .background_mountain {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./images/ipad/mountain.png);
  }
}

@media (min-width: 1075px) {
  .flexWithBigScreen {
    display: flex;
    background-color: #f6f8f9;
  }
  .flexWithBigScreen > :first-child {
    flex: 1 1 57%;
    height: 600px;
    padding-top: 5rem;
  }

  .flexWithBigScreen > :last-child {
    flex: 1 1 43%;
    height: 600px;
    background-color: #ffffff;
  }

  .main_news h2 {
    top: 30%;
  }

  .main_news h3 {
    top: 43%;
  }

  .main_news h2, h3 {
    font-weight: bold;
  }

  .main_news p {
    top: 53.5%;
  }

  .main_news .btn {
    top: 68%;
  }

  .topics_section {
    padding: 2rem 5rem;
    padding-top: 7rem;
    margin-top: 0;
  }

  .bigHeader {
    background-color: #f6f8f9;
  }

  #flexOnDesktop {
    flex-direction: column !important;
    line-height: 2rem;
  }

  .hideBelowDesktop {
    display: initial;
  }

  .happening_section .trendingFlex > div:last-child {
    display: initial;
    padding-left: 1rem;
  }

  .happening_section {
    display: grid;
    height: 1300px;
    grid-template-columns: 65% 35%;
    grid-template-rows: 40px 500px 500px;
    gap: 3rem;
  }

  .happening_section .section_header {
    grid-column: 1 / 3;
  }

  .happening_section .background_forest {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-top: 2rem;
    padding: 3rem;
  }

  .happening_section .background_city {
    margin-top:  30px;
    padding: 3rem;
  }

  .background_city h2, .background_forest h2 {
    font-size: 1.3rem !important;
    font-weight: 700;
  }

  .happening_section .trendingFlex {
    flex-direction: column;
  }

  .happening_section .trendingFlex .small_title:first-child {
    padding-right: 0 !important;
  }

  .trendingFlex .desktop_hidden {
    padding-left: 0px !important;
  }

  .dskt_footer {
    display: flex;
    height: 210px;
  }

  .topFooter {
    padding-top: 4rem !important;
    padding-left: 3rem;
  }

  .topFooter span, .topFooter nav > * {
    padding-left: 3%;
  }

  .bottomFooter div:last-child {
    align-self: initial;
    position: absolute;
    top: 3.6rem;
    right: 0;
  }

  #footer nav ul li:not(:last-child) {
    font-size: 1.4rem;
  }
  .bottomFooter input {
    width: 310px;
    height: 3rem;
  }

  .bottomFooter {
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    padding-left: 6%;
    position: relative;
    width: 50%;
  }

  .newsFlex {
    display: flex;
    margin: 0 auto;
  }

  .newsFlex > * {
    height: 500px;
    width: 50%;
  }

  .newsMain #form {
    padding: 4.7rem 6rem !important;
  }

  picture img{
    margin: 2rem auto !important;
    width: 100% !important;
  }

  .elephant_article > p {
    max-width: 110ch;
  }
  /* ===(-|-)==(-|-)==== */
} 

.newsFlex .background_mountain h1 {
  line-height: 2.2rem;
}


/* overlay  */

.navOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 30%;
  bottom: 35%;
  z-index: 1;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(245, 244, 243);
}

.navOverlay ul {
  position: relative;
  left: 2rem;
}

.navOverlay span:not(.imageSpan) {
  position: relative;
  left: 2rem;
  bottom: 8rem;
  text-transform: uppercase;
  color: #fa6980;
  font-weight: 600;
}

.navOverlay li {
  text-transform: uppercase;
  padding-top: 1rem;
  color: #a6adb4;
  font-size: 0.8rem;
  font-weight: 600;
}

.navOverlay i {
  padding-right: 3rem;
  font-size: 1.1rem
}

.navOverlay .imageSpan {
  padding-left: 2.7rem;
  position: relative;
  bottom: .6rem;
}

.navOverlay li:first-child {
  color: #202124;
  position: relative;
  right: 2px;
}

.navOverlay li:nth-child(2) {
  position: relative;
  right: 3px;
}


.navOverlay ul, .footerOverlay ul {
  list-style: none;
}

.navOverlay ul li:first-child > i{
  color: #202124;
}

.navOverlay img {
  width: 23px;
  display: inline-block;
}

.footerOverlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 30%;
  top: 65%;
  z-index: 1;
  justify-content: center;
  align-items: center;

  background-color: #b8b9b9;
}

.footerOverlay li{
  color: whitesmoke;
  padding: 7px 18px;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 500;
}

.footerOverlay i {
  color: whitesmoke;
  padding: 1rem 8px;
  position: relative;
  right: 2rem;
}

.linearGradient {
  background: linear-gradient(to right, rgb(184, 181, 181) 1%, 15%, white 50%);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 70%;
}

@media (max-width: 720px) {
  .topics_section {
    padding: 0 2rem !important;
  }
}


@media (min-width: 1176px) {
  .main > *:not(:first-child){
    padding: 0 8rem !important;
  }
  .trending_section .arrows {
    position: relative;
    left: 5rem;
  }

  .happening_section .arrows {
    position: relative;
    right: 2rem;
    /* padding-right: 5rem; */
  }

  .main .section_header {
    max-width: 90%;
  }
}

@media (min-width: 1040px) {
  .trending_section .arrows {
    position: relative;
    left: 1rem;
  }

  .happening_section .arrows {
    position: relative;
    right: 2rem;
  }
}