/* Minimal CSS reset  */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* Custom properties  */

@font-face {
  font-family: helvetica;
  src: url(./fonts/Helvetica.ttf);
}

@font-face {
  font-family: acumin;
  src: url(./fonts/Acumin-RPro.otf)
}

:root {
  --clr-dark: #202124;
  --clr-light: #fff;
  --clr-accent:  #fa6980;
  --clr-grey: #a6adb4;
  --ff-primary: helvetica, Arial, sans-serif;
  --ff-secondary: acumin, sans-serif;
  --ff-boldish: 500;
}

 /* General rules  */

 body {
   font-family: var(--ff-primary);
   line-height: 1.6rem;
 }

 .btn {
   width: 151px;
   height: 40px;
   border-radius: 6px;
   background-color: var(--clr-accent);
   color: var(--clr-light);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 0.75rem;
 }
 
 .btn:hover {
   opacity: .8;
 }

 h1, h2 {
   text-transform: uppercase;
 }

  /* sections headers  */
  .section_header {
    display: flex;
    justify-content: space-between;
  }
  .section_header  h2 {
    font-weight: var(--ff-boldish);
    color: #202124;
  }
  
  .arrows {
    display: flex;
    width: 50px;
    justify-content: space-between;
  }
  
  .arrows :last-child {
    color:#202124
  }
  
  .arrows :first-child {
    color: #878990;
  }

/* Mobile first  */

/* Header  */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}

header img {
  width: 30px;
  height: auto;
}

header span {
  text-transform: uppercase;
  color: var(--clr-grey)
}

header i {
  color: var(--clr-dark)
}

/* Main news section  */

.main > section {
  padding: 0 2rem;
}

.main_news {
  background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
  url("./images/landscape.png");
  background-size: cover;
  background-position: center center;
  color: var(--clr-light);
  position: relative;
  height: 388px;
  padding: 0 2rem;
}

/* Make all direct children of main news class absolute positioned  and parent is relative */

.main_news > * {
  position: absolute;
}

.main_news h2 {
  top: 35px;
  border-bottom: 2px solid var(--clr-light);
  padding-bottom: 20px;
  width: 84%;
  line-height: 42px;
  font-weight: var(--ff-boldish);
}

.main_news h3 {
  top: 139px;
  font-weight: var(--ff-boldish);
  font-size: 1.5rem;
  padding-right: 30px;
  line-height: 34px;
}

.main_news p {
  top: 217px;
  font-size: 1rem;
  padding-right: 45px;
}

.main_news .btn {
  top: 308px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 340px) {
  .main_news .btn {
    top: 344px
  }

  .main_news {
    height: 410px;
  }
}

img {
  width: 400px;
  height: auto;
  border-radius: 7px;
}

/* Topics section  */

.topics_section {
  margin-top: 40px;
}


.topics_section h3 {
  color: var(--clr-accent);
  font-weight: var(--ff-boldish);
}

.article_header h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.article_header h4 {
  color: #202124;
  font-weight: 400;
  font-size: 1.1rem;
}

.article_header p,i {
  color: var(--clr-grey);
  font-family: var(--ff-secondary);
}

.article_header i {
  margin-bottom: 20px;
}

.line {
  background-color: #000;
  border: 1px solid #ebeded;
  margin: 37px 0;
}

/* Trending section  */

.trending_section {
  background-color: whitesmoke;
  padding-bottom: 4rem;
  border-bottom: 40px solid whitesmoke;
}

.trending_section .section_header{
  padding: 3rem 0;
}

.trending_section .article_descriptor {
  background-color: var(--clr-light);
  padding: 1.4rem;
  border-bottom: 40px solid whitesmoke;
}

.article_descriptor  h3{
  font-weight: var(--ff-boldish);
  margin: 10px 0;
  text-transform:initial;
}

/* Happening Now  */

.happening_section {
  background-color: whitesmoke;
}

.happening_section h2 {
  margin-bottom: 2rem;
}

.happening_section .background_city, .background_forest {
  color: var(--clr-light);
  padding: 1.5rem;
}

.happening_section div:not(:first-child)  h2 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.happening_section h3 {
  font-weight: var(--ff-boldish);
  font-size: 1.5rem;
  line-height: 34px;
}

.backImg {
  height: 300px;
  width: auto;
  background-size: cover;
  background-position: center center;
  border-radius: 7px;
  margin-bottom: 2.5rem;
}

.background_city {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./images/happening/bridge.png");
}

.background_forest {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./images/happening/forest.png");
}

#small_title {
  margin-top: 2rem;
  padding-bottom: 1rem;
  background-color: whitesmoke;
}

#small_title h3 { 
  font-family: var(--ff-secondary);
  font-size: 1.1rem;
  font-weight: 600;
}

.happening_section a {
  padding-left: .4rem;
  color: var(--clr-grey);
}

/* World news page  */




.background_mountain {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("./images/mountains.png");
  height: 388px;
  border-radius: 0;
}

 /* hack select input placholder  */

select:required:invalid {
  color: var(--clr-grey);
}
option[value=""][disabled] {
  display: none;
}
option {
  color: rgb(22, 21, 21);
}

/* ================= */

.newsMain > *:not(.background_mountain) {
  padding: 0 2rem;
}

.newsMain .article{
  background-color: whitesmoke;
  padding-top: 1rem;
  padding-bottom: .1rem;
  margin-top: 2rem;
}

.conclusion {
  color: var(--clr-dark);
  font-weight: 600;
  line-height: 2rem;
  font-weight: 600;
}

.avatar {
  width: auto;
  border-radius: 50%;
}

.filter {
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.footerUl {
  width: 60%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  position: relative;
  color: var(--clr-grey);
  left: 10%;
}

.footerUl li:first-child {
  color: #202124;
  border-bottom: 2px solid var(--clr-accent);
}

.footerUl li:last-child {
  color:rgb(53, 50, 50);
  font-size: 2rem;
  align-self: center;
  position: absolute;
  right: -40px;
  top: -30%;
}

#footer {
  background-color: whitesmoke;
  padding-bottom: 2rem;
}

.filterNav {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filterNav i {
  font-size: 1.2rem;
}

.background_mountain {
  padding: 4rem 2rem;
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.empty {
  height: 20px;
  width: 40px;
  border-top: 3px solid var(--clr-accent);
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 2rem;
  padding-right: 20px;
  font-size: 1rem;
  display: block;
}

label {
  font-family: var(--ff-secondary);
  display: block;
  margin-bottom: 7px;
  line-height: 20px;
  font-size: 15px;
}

.article img, h2{
  margin: 2rem 0;
  font-family: var(--ff-secondary);
  font-weight: 600;
  line-height: 2rem;
  text-transform:initial;
}

.article p:not(.conclusion) {
  line-height: 26px;
  color: var(--clr-grey);
  margin-bottom: 18px;
}






